Halley.CapaLogica/Service References/ServicioEnviarComprobanteFEPrueba/OpenInvoicePeru.Comun.Dto.Intercambio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RespuestaComun">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TramaXmlSinFirma" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentoResponse" nillable="true" type="tns:DocumentoResponse" />
  <xs:complexType name="RespuestaComun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pila" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaComun" nillable="true" type="tns:RespuestaComun" />
  <xs:complexType name="EnviarDocumentoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RespuestaComunConArchivo">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoRespuesta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TramaZipCdr" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnviarDocumentoResponse" nillable="true" type="tns:EnviarDocumentoResponse" />
  <xs:complexType name="RespuestaComunConArchivo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RespuestaComun">
        <xs:sequence>
          <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RespuestaComunConArchivo" nillable="true" type="tns:RespuestaComunConArchivo" />
</xs:schema>