Halley.CapaLogica/Service References/ServicioEnviarComprobanteFEPrueba/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Modelos" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_FE" />
  <xs:element name="GenerarXMLFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Modelos" minOccurs="0" name="_documento" nillable="true" type="q1:DocumentoElectronico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarXMLFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" minOccurs="0" name="GenerarXMLFacturaResult" nillable="true" type="q2:DocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarXMLBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Modelos" minOccurs="0" name="_documento" nillable="true" type="q3:ComunicacionBaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarXMLBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" minOccurs="0" name="GenerarXMLBajaResult" nillable="true" type="q4:DocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarXMLResumenDiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Modelos" minOccurs="0" name="_documento" nillable="true" type="q5:ResumenDiarioNuevo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarXMLResumenDiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" minOccurs="0" name="GenerarXMLResumenDiarioResult" nillable="true" type="q6:DocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSunat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RutaXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RutaCdr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RutaCertificado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClaveCertificado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RucEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioSol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClaveSol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Correlativo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RutaWSSunat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EsResumen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSunatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_FE" minOccurs="0" name="EnviarSunatResult" nillable="true" type="q7:RespuestaComunConArchivo2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RutaWS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RucEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdentificadorArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EsResumen" type="xs:boolean" />
        <xs:element minOccurs="0" name="CarpetaXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarpetaCdr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_FE" minOccurs="0" name="EnviarXMLResult" nillable="true" type="q8:RespuestaComunConArchivo2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RutaWS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RucEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdentificadorArchivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarpetaCdr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" minOccurs="0" name="ObtenerTicketResult" nillable="true" type="q9:EnviarDocumentoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>