Halley.CapaLogica/Service References/ServicioEnviarComprobanteFEPrueba/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FEService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Modelos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/OpenInvoicePeru.Comun.Dto.Intercambio" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_FE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFEService_GenerarXMLFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarXMLFactura" />
  </wsdl:message>
  <wsdl:message name="IFEService_GenerarXMLFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarXMLFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IFEService_GenerarXMLBaja_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarXMLBaja" />
  </wsdl:message>
  <wsdl:message name="IFEService_GenerarXMLBaja_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarXMLBajaResponse" />
  </wsdl:message>
  <wsdl:message name="IFEService_GenerarXMLResumenDiario_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarXMLResumenDiario" />
  </wsdl:message>
  <wsdl:message name="IFEService_GenerarXMLResumenDiario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarXMLResumenDiarioResponse" />
  </wsdl:message>
  <wsdl:message name="IFEService_EnviarSunat_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSunat" />
  </wsdl:message>
  <wsdl:message name="IFEService_EnviarSunat_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSunatResponse" />
  </wsdl:message>
  <wsdl:message name="IFEService_EnviarXML_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarXML" />
  </wsdl:message>
  <wsdl:message name="IFEService_EnviarXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IFEService_ObtenerTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTicket" />
  </wsdl:message>
  <wsdl:message name="IFEService_ObtenerTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IFEService">
    <wsdl:operation name="GenerarXMLFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IFEService/GenerarXMLFactura" message="tns:IFEService_GenerarXMLFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFEService/GenerarXMLFacturaResponse" message="tns:IFEService_GenerarXMLFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarXMLBaja">
      <wsdl:input wsaw:Action="http://tempuri.org/IFEService/GenerarXMLBaja" message="tns:IFEService_GenerarXMLBaja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFEService/GenerarXMLBajaResponse" message="tns:IFEService_GenerarXMLBaja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarXMLResumenDiario">
      <wsdl:input wsaw:Action="http://tempuri.org/IFEService/GenerarXMLResumenDiario" message="tns:IFEService_GenerarXMLResumenDiario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFEService/GenerarXMLResumenDiarioResponse" message="tns:IFEService_GenerarXMLResumenDiario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarSunat">
      <wsdl:input wsaw:Action="http://tempuri.org/IFEService/EnviarSunat" message="tns:IFEService_EnviarSunat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFEService/EnviarSunatResponse" message="tns:IFEService_EnviarSunat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IFEService/EnviarXML" message="tns:IFEService_EnviarXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFEService/EnviarXMLResponse" message="tns:IFEService_EnviarXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IFEService/ObtenerTicket" message="tns:IFEService_ObtenerTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFEService/ObtenerTicketResponse" message="tns:IFEService_ObtenerTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFEService" type="tns:IFEService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarXMLFactura">
      <soap:operation soapAction="http://tempuri.org/IFEService/GenerarXMLFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarXMLBaja">
      <soap:operation soapAction="http://tempuri.org/IFEService/GenerarXMLBaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarXMLResumenDiario">
      <soap:operation soapAction="http://tempuri.org/IFEService/GenerarXMLResumenDiario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarSunat">
      <soap:operation soapAction="http://tempuri.org/IFEService/EnviarSunat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarXML">
      <soap:operation soapAction="http://tempuri.org/IFEService/EnviarXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTicket">
      <soap:operation soapAction="http://tempuri.org/IFEService/ObtenerTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FEService">
    <wsdl:port name="BasicHttpBinding_IFEService" binding="tns:BasicHttpBinding_IFEService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_FE/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>